@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

*{
  font-family: "Montserrat", sans-serif !important;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App{
  padding:30px
}

html {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(236, 221, 252, 0.807292) 99.99%,
    rgba(154, 80, 240, 0) 100%
  );
}

input {
  font-size: 16px;
  border-radius: 30px;
  padding-left: 20px;
  width: 250px;
  height:40px;
  border: none;
  outline-width: 0;
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px rgba(170, 170, 204, 0.25),
    inset 10px 10px 20px rgba(170, 170, 204, 0.5),
    inset -10px -10px 20px #ffffff;
    margin-left: 20px;
}
input:focus {
  border: none;
  outline-width: 0;
}
